{layout name="layout" /}
<form role="form" onsubmit="return false">
    <div class="form-group">
        <label>
            <span style="color:red;">*</span>商品类别新增</label>
        <input class="form-control" type="text" name="type">
    </div>

    <button onclick="check()" class="btn btn-default">添加</button>
    <button type="reset" class="btn btn-default">重置</button>
</form>
<script src="__JS__/jquery.js"></script>
<script>
    var node = document.getElementById("main-menu").children[1];
    node.children[0].setAttribute("class", "active-menu");
    node.children[1].children[2].setAttribute("class", "active-menu");
    $("input,select").css("border-width", "2px");

    function check() {
        var flag = true;
        $("input,select").each(function () {
            $(this).parent().attr("class", "form-group");
            if ($(this).val() == '') {
                $(this).parent().addClass("has-error");
                flag = false;
            } else {
                $(this).parent().addClass("has-success");
            }
        });
        if (flag) {
            $.ajax({
                url: "{:url('Goods/doAddType')}",
                type: "post",
                dataType: "json",
                data: $("form").serialize(),
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error" + XMLHttpRequest.readyState + " " + XMLHttpRequest.status +
                        " " + textStatus);
                },
                success: function (data) {
                    console.log(data);
                    if (data.status == "success") {
                        layer.alert("商品类别添加成功", function () {
                            location.href = "{:url('Goods/type')}";
                        })
                    }else{
                        layer.alert(data.msg)
                    }
                }
            });
        }
    }
</script>