{layout name="layout" /}
<div class="panel panel-default">
    <div class="panel-heading">
        商品列表
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover " style="text-align: center;">
                <thead>
                    <tr class="row">
                        <td class="col-md-1">商品名称</td>
                        <td class="col-md-1">商品价格</td>
                        <td class="col-md-1">入市时间</td>
                        <td class="col-md-1">商品品牌</td>
                        <td class="col-md-1">商品等级</td>
                        <td class="col-md-1">商品型号</td>
                        <td class="col-md-1">商品类型</td>
                        <td class="col-md-1">图片路径</td>
                        <td class="col-md-1">商品数量</td>
                        <td class="col-md-1">售出量</td>
                        <td class="col-md-1">会员/市场价</td>
                        <td class="col-md-1">修改/删除</td>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="vo" key="k"}
                    <tr class="{($k%2?'odd':'even')} row">
                        <td class="col-md-1">{$vo.name}</td>
                        <td class="col-md-1">{$vo.price}</td>
                        <td class="col-md-1">{$vo.add_time}</td>
                        <td class="col-md-1">{$vo.brand}</td>
                        <td class="col-md-1">{$vo.level}</td>
                        <td class="col-md-1">{$vo.model}</td>
                        <td class="col-md-1">
                            {volist name="typelist" id="ty"} 
                            {$vo.type_id==$ty.id?$ty.type:""}
                            {/volist}
                        </td>
                        <td class="col-md-1">
                            <img src="{$vo.pic_path}" class="img-responsive" />
                        </td>
                        <td class="col-md-1">{$vo.count}</td>
                        <td class="col-md-1">{$vo.sell_count}</td>
                        <td class="col-md-1">{$vo.vip_price}/{$vo.market_price}</td>
                        <td class="col-md-1">
                            <a href="{:url('Goods/updateGoods')}?id={$vo.id}" class="fa fa-wrench col-md-6"></a>
                            <a href="javascript:del({$vo.id})" class="fa fa-trash-o col-md-6"></a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>            
            {$list->render()}
        </div>

    </div>
</div>
<script>
    var node = document.getElementById("main-menu").children[1];
    node.children[0].setAttribute("class", "active-menu");
    node.children[1].children[1].setAttribute("class", "active-menu");

    function del(id) {
        layer.confirm('您确定要删除这条数据吗？', {
            btn: ['确定', '取消']
        }, function () {
            layer.closeAll('dialog');
            $.ajax({
                url: "{:url('Goods/doDeleteGoods')}",
                type: "post",
                dataType: "json",
                data: {
                    "id": id
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error" + XMLHttpRequest.readyState + " " + XMLHttpRequest.status +
                        " " + textStatus);
                },
                success: function (data) {
                    if(data.status=="success"){
                        layer.alert("删除成功",function(){
                            location.reload();
                        });
                    }
                }
            });
        });
    }
</script>