{layout name="layout" /}
<div class="panel panel-default">
    <div class="panel-heading">
        用户留言
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover " style="text-align: center;">
                <thead>
                    <tr class="row">
                        <td class="col-md-1">用户姓名</td>
                        <td class="col-md-1">标题</td>
                        <td class="col-md-8">内容</td>
                        <td class="col-md-2">留言时间</td>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="vo" key="k"}
                    <tr class="{($k%2?'odd':'even')} row">
                        <td class="col-md-1">{$vo.name}</td>
                        <td class="col-md-1">{$vo.title}</td>
                        <td class="col-md-8">{$vo.content}</td>
                        <td class="col-md-2">{$vo.time}</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {$list->render()}
        </div>

    </div>
</div>
<script>
    var node = document.getElementById("main-menu").children[3];
    node.children[0].setAttribute("class", "active-menu");
    node.children[1].children[1].setAttribute("class", "active-menu");
</script>